body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.profile {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 5% auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile:hover {
    transform: scale(1.03);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.profile img:hover {
    transform: scale(1.1);
}

.profile .details {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .details h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #d32f2f;
}

.profile .details p {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.profile .details a {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile .details a:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .profile {
        flex-direction: column;
        gap: 20px;
        width: 80%;
        margin-top: 10vh;
        margin-bottom:10vh;
    }
    .pc{
        margin: 0 auto !important;
    }

    .profile .details h2 {
        font-size: 1.8em;
    }

    .profile .details p {
        font-size: 1em;
    }
    .profile .details a{
        width: fit-content !important;
    }
}

@media (max-width: 480px) {
    .profile .details a {
        width: 100%;
    }
}
