<div class="min-loader-container">
  <div class="min-loader"></div>
</div>
<style>
.min-loader-container {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  animation: loadingDelay 3s forwards;
}

@keyframes loadingDelay {
  0% {
    opacity: 1;
  }
  99%{
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.min-loader {
  width: 50px;
  aspect-ratio: 1;
  --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
  background:
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}

@keyframes l7 {
  to {
    transform: rotate(0.5turn);
  }
}


</style>



